@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.dark .xy-theme__select {
  background-color: theme("colors.neutral.700");
  color: theme("colors.neutral.100");
}

.xy-theme__select {
  background-color: theme("colors.neutral.100");
}
